<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="net.flyingfat.web.dao.UserMapper">  

	<resultMap type="net.flyingfat.web.model.UserVO" id="userResult">    
	    <result column="first_name" property="firstName"/>    
	    <result column="last_name" property="lastName"/>    
	</resultMap> 

	<select id="getAllUsers"  resultMap="userResult">  
	    SELECT * FROM user
	</select>
	
	
</mapper>